h1{
    font-size: 30px;
    color:white;
    background-color: hsla(240, 50%, 50%, 0.5);
}
h2{
    font-size: 25px;
    color: white;
    background-color: hsl(0, 50%, 50%);
    padding: 20px 10px 15px 30px;
}
p{
    color: red;
}
.center{
    text-align: center;
}
.large{
    font-size: 18ox;
}
h1,h2{
    text-align: center;
}
section>p{
    color: darkslategray;
    font-size: 20px;
}